// .form
//   .f-password
//     text-align:right
//     color:blue
//     padding: 3px 0 8px
//     span
//       cursor:pointer
//       width:auto
//   .input-item
//     height:30px
//     line-height:30px
//     font-size :0
//     margin-bottom:20px
//   .input-item.no-margin
//     margin-bottom:0
//   span
//     display:inline-block
//     width:60px
//     vertical-align :middle
//     text-align:justify
//     font-size :12px
//   .input-self
//     width:280px
//     height:30px !important
//     vertical-align :middle
  .captcha
    width:150px
    margin-right:20px
    float:left
  // .code-btn
  //   width:90px
  //   height:40px
  //   background:#adadad
  //   border:none
  //   outline:none
  //   color:#fff
  //   border-radius:4px
  //   vertical-align :middle
.info-btn
  width:100%
.zi-btn
  // margin-left:-80px
  width:80%
#f-password
  margin-top: -15px
  font-size: 13px
  height: 18px
  span
    float:right
    color:#00f
    cursor:pointer
.skip
  // padding-bottom:20px
  // line-height:40px
  margin-top:20px
  font-size:12px
.skip span
  color:blue
  cursor:pointer
.next
  padding-bottom:40px
.confirm
  padding:5px 0 25px
.look
  color:#19adf0
  cursor :pointer
.info-content
  background:#fff

