.verify-header
  text-align:left
  height:60px
  line-height:60px
.verify-content
  background:#fff
.verify-table
  font-size:13px
  margin:30px 5%
  width:90%
  tr:first-child
    border-bottom:1px solid #ccc
  tr
    height:40px
    color:#4a4a4a
  td
    padding:8px 10px
    vertical-align :middle
  .verify-aciton
    display:inline-block
    width:40px
    cursor :pointer
  .verify-aciton-pass
    color:#24b9f3
  .verify-aciton-reject
    color:red
  .time
    height:20px
#edit-select
  width:250px
  vertical-align :middle