.container
  background:#fff
.verify-header
  text-align:left
  height:60px
  line-height:60px
  background:#f3f3f3
.verify-content
  padding: 0 10px
.verify-table
  font-size:14px
  margin:30px 5%
  width:90%
  color:#606266
  tr:first-child
    border-bottom:1px solid #ccc
    font-weight:bold
    color:#000
    transition: none
  tr:first-child:hover
    background-color: #fff
  tr
    height:55px
    line-height:55px
    // box-sizing :border-box
    // -webkit-box-sizing :border-box
    border-bottom:1px solid #ebeef5
    transition: background-color .25s ease
  tr:hover
    background-color: #f5f7fa
  td
    // padding:12px 0
    // vertical-align :middle
    text-overflow: ellipsis
  .verify-aciton
    display:inline-block
    width:40px
    cursor :pointer
  .verify-aciton-pass
    color:#24b9f3
  .verify-aciton-reject
    color:red
  .time
    height:20px
    position:relative
    top:-10px
#edit-select
  width:250px
  vertical-align :middle